Домашнее задание к лекции

Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

    оценка 2 и ниже — низкий рейтинг;
    оценка 4 и ниже — средний рейтинг;
    оценка 4.5 и 5 — высокий рейтинг.

Результат классификации запишите в столбец class.

Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

12345
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

Задание 3 (бонусное)

Есть мнение, что раньше снимали настоящее кино, не то что сейчас. Ваша задача — проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия: файл movies.csv и ratings.csv из базы. Нужно проверить, верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

Вы не будете затрагивать субьективные факторы выставления этих рейтингов, а пройдётесь по алгоритму:

    В переменную years запишите список из всех годов с 1950 по 2010 года.

    Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте алгоритм:
        для каждой строки пройдите по всем годам списка years;
        если номер года присутствует в названии фильма, то функция возвращает этот год, как год выпуска;
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.

    Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.

    Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

Все файлы находятся в архиве «Дополнительные файлы к лекции и дз».

# Задание 1

In [ ]:
import pandas as pd

In [ ]:
df_movies = pd.read_csv('/content/drive/MyDrive/pandas_data/02/movies.csv')
df_ratings = pd.read_csv('/content/drive/MyDrive/pandas_data/02/ratings.csv')
df = df_ratings.merge(df_movies, on='movieId', how='left')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [ ]:
def rating_class(row):
    if row['rating'] <= 2:
        row['class'] = 'низкий рейтинг'
    elif row['rating'] <= 4 and row['rating'] > 2:
        row['class'] = 'средний рейтинг'
    else:
        row['class'] = 'высокий рейтинг'
    return row

In [ ]:
df = df.apply(rating_class, axis=1)
df.head(15)

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,низкий рейтинг
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,низкий рейтинг
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,низкий рейтинг
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,средний рейтинг
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,низкий рейтинг
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,средний рейтинг
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime,низкий рейтинг
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller,средний рейтинг
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi,средний рейтинг
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy,средний рейтинг

# Задание 2

In [ ]:

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

df_keywords = pd.read_csv('/content/drive/MyDrive/pandas_data/02/keywords.csv')
df_keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def region(row):

    keywords = row['keyword'].split(' ')

    for region, cities in geo_data.items():

        for city in cities:
            if city in keywords:
                row['region'] = region
    return row

In [ ]:
df = df_keywords.apply(region, axis = 1).fillna('undefined')
df.head(5)

         keyword     region     shows
0             вк  undefined  64292779
1  одноклассники  undefined  63810309
2          порно  undefined  41747114
3           ютуб  undefined  39995567
4      вконтакте  undefined  21014195

In [ ]:
df_filter = df[(df['region'] == 'Центр') | (df['region'] == 'Дальний Восток') | (df['region'] == 'Северо-Запад')]
df_filter.head()

                       keyword          region   shows
127               авито москва           Центр  979292
370   авито ру санкт петербург    Северо-Запад  425134
849            авито ярославль           Центр  209581
1063       фарпост владивосток  Дальний Восток  176951
1236      банк санкт петербург    Северо-Запад  174375

# Задание 3

In [ ]:
df_movies = pd.read_csv('/content/drive/MyDrive/pandas_data/01/movies.csv')
df_ratings = pd.read_csv('/content/drive/MyDrive/pandas_data/01/ratings.csv')
df_movies.tail()

       movieId                           title                  genres
62418   209157                       We (2018)                   Drama
62419   209159       Window of the Soul (2001)             Documentary
62420   209163                Bad Poems (2018)            Comedy|Drama
62421   209169             A Girl Thing (2001)      (no genres listed)
62422   209171  Women of Devil's Island (1962)  Action|Adventure|Drama

In [ ]:
years = []
for year in range(1950, 2011):
    years.append(str(year))

def production_year(row):
    title = row['title'].replace('(', '').replace(')', '').split()[-1]
    # row['year'] = title
    for el in years:
        if title in years:
            row['year'] = title
        else:
            row['year'] = 1900

    return row

In [ ]:
df = df_movies.apply(production_year, axis = 1)
df.tail()

       movieId                           title                  genres  year
62418   209157                       We (2018)                   Drama  1900
62419   209159       Window of the Soul (2001)             Documentary  2001
62420   209163                Bad Poems (2018)            Comedy|Drama  1900
62421   209169             A Girl Thing (2001)      (no genres listed)  2001
62422   209171  Women of Devil's Island (1962)  Action|Adventure|Drama  1962

In [ ]:
data_joined = df_ratings.merge(df, on='movieId', how='left')
data_joined.tail()

,userId,movieId,rating,timestamp,title,genres,year
738061,5033,2353,3.0,1032808165,Enemy of the State (1998),Action|Thriller,1998
738062,5033,2455,3.0,1032808566,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller,1986
738063,5033,2501,2.0,1032807392,October Sky (1999),Drama,1999
738064,5033,2640,5.0,1032808165,Superman (1978),Action|Adventure|Sci-Fi,1978
738065,5033,2671,2.0,1032807618,Notting Hill (1999),Comedy|Romance,1999

In [ ]:
data_res = data_joined.groupby('year').mean().rating.sort_values(ascending=False)
data_res.head(100)

year
1957    4.022046
1972    4.000342
1954    3.986810
1974    3.948427
1962    3.946658
          ...
1990    3.445269
2000    3.442939
2005    3.439486
1997    3.426841
1996    3.366338
Name: rating, Length: 62, dtype: float64