Домашнее задание к лекции "Базовые понятия статистики"

Задание к домашней работе также находится здесь github.com...sics.ipynb

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
import pandas as pd
import numpy as np

### Загрузка данных

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data_colab/horse_data.csv', header = None,  na_values='?')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

### Отбор необходимых столбцов

In [ ]:
# перевод имен колонок датафрейма в список
all_colums = df.columns.tolist()

# словарь с нужными для работы колонками
columns_names_dict = {
                1 : 'surgery?',
                2 : 'Age',
                4 : 'rectal temperature',
                5 : 'pulse',
                6 : 'respiratory rate',
                7 : 'temperature of extremities',
                11 : 'pain',
                23 : 'outcome'
}

# удаление ненужных колонок путем сравнения списка всех колонок со словарем искомых
for k in columns_names_dict:
    for el in all_colums:
        if el == k-1:
            all_colums.remove(el)
df_edited = df.drop(df.columns[all_colums], axis = 1)

# переименование колонок
df_edited.columns = [ col for col in columns_names_dict.values() ]

df_edited.head(5)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

## Изучение столбцов на пропуски, типы данных

In [ ]:
df_edited.dtypes

surgery?                      float64
Age                             int64
rectal temperature            float64
pulse                         float64
respiratory rate              float64
temperature of extremities    float64
pain                          float64
outcome                       float64
dtype: object

In [ ]:
(df_edited.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [ ]:
# копировани дататфрейма, для заполнения пропусков
fill_df_edited = df_edited.copy()
fill_df_edited

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
(df_edited.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

## Расчет основых метрик, заполнение пропусков (начинаем с категориальных)

#### Столбец 1 - 'surgery?' (операция) категориальный

In [ ]:
df_edited['surgery?'].value_counts()

1.0    180
2.0    119
Name: surgery?, dtype: int64

In [ ]:
# количество пропусков 'surgery?'
passes =  len(df_edited) - df_edited['surgery?'].value_counts().sum()
passes

1

In [ ]:
# статистические метрики
print('Значение моды: ', df_edited['surgery?'].mode()[0])
print('Значение медианы: ', df_edited['surgery?'].median())

Значение моды:  1.0
Значение медианы:  1.0

In [ ]:
# выбросов нет, заполним пропуски модой, так как стобец имеет категориальное значение
fill_df_edited['surgery?'] = fill_df_edited['surgery?'].fillna(fill_df_edited['surgery?'].mode()[0])
fill_df_edited

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
# Проверяем, что пропусков не осталось
passes =  len(fill_df_edited) - fill_df_edited['surgery?'].value_counts().sum()
passes

0

#### Столбец 8 - 'outcome' (исход - жива/мертва/усыпили) категориальный

In [ ]:
# состояние
df_edited['outcome'].value_counts()

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

In [ ]:
# количество пропусков 'outcome'
passes =  len(df_edited) - df_edited['outcome'].value_counts().sum()
passes

1

In [ ]:
# статистические метрики
print('Значение моды: ', df_edited['outcome'].mode()[0])
print('Значение медианы: ', df_edited['outcome'].median())

Значение моды:  1.0
Значение медианы:  1.0

In [ ]:
# выбросов нет, заполним пропуски модой, так как стобец имеет категориальное значение
fill_df_edited['outcome'] = fill_df_edited['outcome'].fillna(fill_df_edited['outcome'].mode()[0])
fill_df_edited

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
# количество пропусков 'outcome' после заполнения
passes =  len(fill_df_edited) - fill_df_edited['outcome'].value_counts().sum()
passes

0

#### Столбец 2 - 'Age' (возраст) категориальный, нет пропусков

In [ ]:
# возраст
df_edited['Age'].value_counts()

1    276
9     24
Name: Age, dtype: int64

In [ ]:
# в колонке есть значение 9, но в соответветствии с описанием колонок
#  Age
#           1 = Adult horse
#           2 = Young (< 6 months)
# поэтому заменяем 9 на 2

fill_df_edited['Age'] = fill_df_edited['Age'].replace(9, 2)
df_edited['Age'].value_counts()

1    276
2     24
Name: Age, dtype: int64

In [ ]:
# статистические метрики
print('Значение моды: ', fill_df_edited['Age'].mode()[0])
print('Значение медианы: ', fill_df_edited['Age'].median())

Значение моды:  1
Значение медианы:  1.0

#### Столбец 3 - 'rectal temperature' (температура)

In [ ]:
df_edited['rectal temperature'].value_counts()

In [ ]:
# количество пропусков 'rectal temperature' (температура)
passes =  len(df_edited) - df_edited['rectal temperature'].value_counts().sum()
passes

60

In [ ]:
# статистические метрики 'rectal temperature' (температура)
print('Максимум: ', df_edited['rectal temperature'].max())
print('Минимум: ', df_edited['rectal temperature'].min())
print('Размах: ', df_edited['rectal temperature'].max() - df_edited['rectal temperature'].min())
print('Среднее: ', df_edited['rectal temperature'].mean())
print('Значение моды: ', df_edited['rectal temperature'].mode()[0])
print('Значение медианы: ', df_edited['rectal temperature'].median())
print('Дисперсия:', df_edited['rectal temperature'].var())
print('СКО:', df_edited['rectal temperature'].std())

Максимум:  40.8
Минимум:  35.4
Размах:  5.399999999999999
Среднее:  38.16791666666669
Значение моды:  38.0
Значение медианы:  38.2
Дисперсия: 0.5362466875871686
СКО: 0.7322886641121578

In [ ]:
# заполнение пропусков 'rectal temperature' (температура), в зависимости от outcome (жива ли она), Age (возраста) медианой
fill_df_edited['rectal temperature'] = fill_df_edited['rectal temperature'].fillna(fill_df_edited.groupby(['outcome', 'Age'])['rectal temperature'].transform('median'))
fill_df_edited

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0

In [ ]:
passes =  len(fill_df_edited) - fill_df_edited['rectal temperature'].value_counts().sum()
passes

0

#### Столбец 7 - 'pain' (есть ли боль) категориальный

In [ ]:
# боль
df_edited['pain'].value_counts()

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64

In [ ]:
# количество пропусков
passes =  len(df_edited) - df_edited['pain'].value_counts().sum()
passes

55

In [ ]:
# статистические метрики
print('Среднее: ', df_edited['pain'].mean())
print('Значение моды: ', df_edited['pain'].mode()[0])
print('Значение медианы: ', df_edited['pain'].median())

Среднее:  2.951020408163265
Значение моды:  3.0
Значение медианы:  3.0

In [ ]:
# выбросов нет, заполним пропуски модой, так как стобец имеет категориальное значение
fill_df_edited['pain'] = fill_df_edited['pain'].fillna(fill_df_edited['pain'].mode()[0])
fill_df_edited

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0

In [ ]:
(fill_df_edited.isna().mean() * 100).round(2)

surgery?                      0.0
Age                           0.0
rectal temperature            0.0
pulse                         0.0
respiratory rate              0.0
temperature of extremities    0.0
pain                          0.0
outcome                       0.0
dtype: float64

#### Столбец 4 - 'pulse' (пульс)

In [ ]:
df_edited['pulse'].value_counts()

In [ ]:
# количество пропусков
passes =  len(df_edited) - df_edited['pulse'].value_counts().sum()
passes

24

In [ ]:
# статистические метрики
print('Максимум: ', df_edited['pulse'].max())
print('Минимум: ', df_edited['pulse'].min())
print('Размах: ', df_edited['pulse'].max() - df_edited['pulse'].min())
print('Среднее: ', df_edited['pulse'].mean())
print('Значение моды: ', df_edited['pulse'].mode()[0])
print('Значение медианы: ', df_edited['pulse'].median())

print('Дисперсия:', df_edited['pulse'].var())
print('СКО:', df_edited['pulse'].std())

Максимум:  184.0
Минимум:  30.0
Размах:  154.0
Среднее:  71.91304347826087
Значение моды:  48.0
Значение медианы:  64.0
Дисперсия: 819.7087747035575
СКО: 28.630556660735003

In [ ]:
# межквартильный размах 'pulse'
Q1 = df_edited['pulse'].quantile(0.25)
Q3 = df_edited['pulse'].quantile(0.75)
IQR = Q3 - Q1
print('Межквартильный размах:', IQR)

# поиск выбросов
Q1 = df_edited['pulse'].quantile(0.25)
Q3 = df_edited['pulse'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print('Выбросы пульса через IRQ:', lower_bound, upper_bound)

Межквартильный размах: 40.0
Выбросы пульса через IRQ: -12.0 148.0

In [ ]:
# заполнение пропусков 'pulse', в зависимости от Age (возраста) и pain (боли) медианой пульса
fill_df_edited['pulse'] = fill_df_edited['pulse'].fillna(fill1_df_edited.groupby(['Age', 'pain'])['pulse'].transform('median'))

In [ ]:
# количество пропусков
passes =  len(fill_df_edited) - fill_df_edited['pulse'].value_counts().sum()
passes

0

#### Столбец 5 - 'respiratory rate' (частота дыхания)

In [ ]:
df_edited['respiratory rate'].value_counts()

In [ ]:
# количество пропусков
passes =  len(df_edited) - df_edited['respiratory rate'].value_counts().sum()
passes

58

In [ ]:
# статистические метрики
print('Максимум: ', df_edited['respiratory rate'].max())
print('Минимум: ', df_edited['respiratory rate'].min())
print('Размах: ', df_edited['respiratory rate'].max() - df_edited['respiratory rate'].min())
print('Среднее: ', df_edited['respiratory rate'].mean())
print('Значение моды: ', df_edited['respiratory rate'].mode()[0])
print('Значение медианы: ', df_edited['respiratory rate'].median())

Максимум:  96.0
Минимум:  8.0
Размах:  88.0
Среднее:  30.417355371900825
Значение моды:  20.0
Значение медианы:  24.5

In [ ]:
# заполнение пропусков  'respiratory rate' (частота дыхания), в зависимости от pain, медианой
fill_df_edited['respiratory rate'] = fill_df_edited['respiratory rate'].fillna(fill_df_edited.groupby('pain')['respiratory rate'].transform('median'))

In [ ]:
# количество пропусков
passes =  len(fill_df_edited) - fill_df_edited['respiratory rate'].value_counts().sum()
passes

0

#### Столбец 6 - 'temperature of extremities' (температура конечностей)

In [ ]:
# температура конечностей
df_edited['temperature of extremities'].value_counts()

3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

In [ ]:
# статистические метрики
print('Максимум: ', df_edited['temperature of extremities'].max())
print('Минимум: ', df_edited['temperature of extremities'].min())
print('Размах: ', df_edited['temperature of extremities'].max() - df_edited['temperature of extremities'].min())
print('Среднее: ', df_edited['temperature of extremities'].mean())
print('Значение моды: ', df_edited['temperature of extremities'].mode()[0])
print('Значение медианы: ', df_edited['temperature of extremities'].median())

Максимум:  4.0
Минимум:  1.0
Размах:  3.0
Среднее:  2.348360655737705
Значение моды:  3.0
Значение медианы:  3.0

In [ ]:
# количество пропусков
passes =  len(df_edited) - df_edited['temperature of extremities'].value_counts().sum()
passes

56

In [ ]:
# заполним пропуски модой, так как столбе категориальный

fill_df_edited['temperature of extremities'] = fill_df_edited['temperature of extremities'].fillna(df_edited['temperature of extremities'].mode()[0])

In [ ]:
# количество пропусков 'temperature of extremities'
passes =  len(fill_df_edited) - fill_df_edited['temperature of extremities'].value_counts().sum()
passes

0

In [ ]:
(fill_df_edited.isna().mean() * 100).round(2)

surgery?                      0.0
Age                           0.0
rectal temperature            0.0
pulse                         0.0
respiratory rate              0.0
temperature of extremities    0.0
pain                          0.0
outcome                       0.0
dtype: float64

In [ ]:
fill_df_edited

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0

## Выбросы и удаление


У здоровой взрослой лошади температура тела колеблется в пределах
   

*  37,5–38,5 градусов,
*  пульс – 24–42 удара в минуту,
*  дыхание – 8–16 вдохов и выдохов в минуту.



У жеребят эти параметры несколько выше:
* температура до 39 градусов,
* пульс новорожденных может достигать 130 ударов в минуту,
* а число дыханий доходить до 85

Через полгода эти цифры меняются:
* 50–72 удара и
* 14–15 вдохов и выдохов в минуту.

При изменении температуры, пульса и дыхания надо учитывать окружающую обстановку, температуру среды и состояние лошади. Во время работы и после нее, в новой обстановке, при половом возбуждении, на последних месяцах жеребости, в жару в организме скорость обмена веществ возрастает, а следовательно, и указанные параметры тоже.
Например, во время скачки температура тела может подняться на три градуса выше нормы.
В холод, в периоды отдыха и сна все процессы в организме замедлены, и показатели – на минимальном уровне нормы.

In [ ]:
outlier_df = fill_df_edited.copy()
outlier_df

In [ ]:
 outlier_df['pulse'].value_counts()

In [ ]:
# удаление выбросов 'pulse' через отсечение значений, выходящих за диапазон 20 - 120
outlier_df = outlier_df[outlier_df['pulse'].between(20, 120, inclusive=True)]
outlier_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
5,2.0,1,38.2,72.0,30.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0

In [ ]:
 outlier_df['respiratory rate'].value_counts()

In [ ]:
# удаление выбросов через отсечение значений, выходящих за диапазон 8 - 80

outlier_df = outlier_df[outlier_df['respiratory rate'].between(8, 80, inclusive=True)]
outlier_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
5,2.0,1,38.2,72.0,30.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0

In [ ]:
# Поиск выбросов - межквартильный размах 'rectal temperature' (температура)
Q1 = df_edited['rectal temperature'].quantile(0.25)
Q3 = df_edited['rectal temperature'].quantile(0.75)
IQR = Q3 - Q1
print('Межквартильный размах:', IQR)
Q1 = df_edited['rectal temperature'].quantile(0.25)
Q3 = df_edited['rectal temperature'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print('Выбросы через IRQ:', lower_bound, upper_bound)

Межквартильный размах: 0.7000000000000028
Выбросы через IRQ: 36.74999999999999 39.550000000000004

In [ ]:
# удаление выбросов 'rectal temperature'  на основе IRQ
outlier_df = outlier_df[outlier_df['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
outlier_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  This is separate from the ipykernel package so we can avoid doing imports until

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0